@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

:root {
    --clr-darkGreen: #01A66F;
    --clr-mintGreen: #75CE9F;
    --clr-lightGreen: #BDD99E;
    --clr-yellow: #FFC06E;
}

/*Beginning of hero page*/
a {
    text-decoration: none;
}

#hero h1 { 
    color: White;
    outline: black;
    position: relative;
    font-size: 5rem;
    width: fit-content;
    /*-webkit-text-stroke: 1px #bdd992;*/

}

html{
    font-size: 10px;
    font-family: 'Mochiy Pop P One', sans-serif;
    scroll-behavior: smooth;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.container:not(#page1) {
    flex-direction: column;
}

#page1 {
    display:flex;
    justify-content: flex-end;
    padding: 10%;
}


#hero {
    background-image: url(./img/Jinddu_origin.jpg);
    background-size: 40% 100%;
    background-position: top left;
    background-repeat: no-repeat;
    position: relative; 
}

#hero::after {
    content:'';
    position: absolute;
    right:0;
    top: 0;
    height: 100%;
    width: 60%;
    background-color: #ffc06e;
    opacity:0.3;
    z-index:-1;
}
#search {
    display:flex;
    flex-direction: column;
    justify-content:center;
}

.button{
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #009DD2;

    font-size: 2rem;
    text-transform:uppercase;
    letter-spacing: .1rem;
    margin-top:30px;
    width:max-content;
    margin-left:35%;
    transition: .3s ease background-color;
    transition-property: background-color, color;
    border-radius: 20px;
}

.button:hover{
    color: #009DD2;
    background-color: white;
}


#flight-info{
    display:flex;
    justify-content:space-evenly;
}

#flight-info>div>label {
    margin-bottom: 20px;
}

input {
    margin-top:5px;
    height: 30px;
    width: 130px;
}



/*End of hero page*/

/*Beginning of Listing page*/

#listing-page {
    flex-direction: column;
    padding-bottom: 50px;
}

.row {
    display:flex;
}

.item {
    display: flex;
    flex-direction: column;
    color: black;
    /*background-image: url(./img/Jinddu.jpg);*/
    background-repeat: no-repeat;
    padding: 12.3rem 0 0;
    max-width: 35ch;
    height: 300px;
    margin: 6px;
    border-radius: 1rem;
    transition: transform 500ms ease;
    overflow:hidden;
    width: 317px;
}

.item:hover {
    transform: scale(1.04);
    cursor: pointer;
}

#page-top{
    text-align: center;
    max-width:1500px;
    margin: 0 auto;
    padding: 50px 0;
}

.item>.discription {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(hsl(34 100% 99%/ 0) 10%, hsl(34 100% 71.6% / 0.7));
    color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transform: translatey(13rem);
}

.discription > *:not(.name) {
    opacity: 0;
    transition: opacity 500ms linear;
    transition-delay: 500ms;
}

.item:hover .discription > *{
    opacity: 1;
}

.name {
    position: relative;
    margin-bottom: 10px;
    width: max-content;
    padding-bottom: 2px;
}

.name::after {
    content: "";
    position:absolute;
    height: 3px;
    left:calc(var(--padding) * -1);
    bottom:0;
    background: var(--clr-yellow);
    width: calc(100% + var(--padding));
    transform: scalex(0);
    transform-origin: left;
    transition: transform 500ms ease;
}

.item:hover .name::after {
    transform: scalex(1);
}

.item>.discription>.button {
    color: var(--clr-yellow);
    background-color: white;
    border:2px solid var(--clr-yellow);
    transition: .3s ease background-color;
    transition-property: background-color, color;
    font-size: 1rem;
}

.item:hover .discription {
    transform: translateY(calc(-1* 3.5rem));
    transition: 500ms ease;
    transition-delay: 500ms;
}

/*Detail pop up view*/
.popup-view {
    z-index: 2;
    background: rgba(255,255,255,0.5);
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-card {
    position:relative;
    display:flex;
    width:800px;
    height: 500px;
    margin: 20px;
}

.popup-card .product-img {
    z-index:2;
    background: #1D212B;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height:90%;
    transform: translateY(25px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.popup-card .product-img img {
    z-index:2; 
    position: relative;
    width: 450px;
    left: -50px;
}

.popup-card .info {
    z-index: 2;
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    box-sizing:border-box;
    padding: 40px;
    border-radius: 10px;
}

.popup-card .close-btn {
    z-index: 3;
    color: #555;
    position: absolute;
    right: 0;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}

.popup-card .info h2 {
    font-size: 40px;
    line-height:20px;
    margin: 10px;
}

.popup-card .info h2 span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
}

.popup-card .info p {
    font-size: 12px;
    margin:10px;
    height: 60%;
}

.popup-card .info .destination {
    font-size: 14px;
    font-weight: 300;
    margin: 10px;
}

.popup-card .info .organization {
    font-size: 10px;
}

.popup-card .info .send-request {
    color: #fff;
    background: #009DD2;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin: 10px auto;
    padding: 10px 50px;
    border-radius: 20px;
}

@media (max-width: 900px) {
    .popup-card {
        flex-direction: column;
        width: 550px;
        height: auto; 
    }

    .popup-card .product-img{
        z-index: 3;
        width: 100%;
        transform: translateY(0);
        border-bottom-left-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .popup-card .product-img img {
        left: initial;
        max-width: 60%;
        max-height: 60%;
    }

    .popup-card .info {
        width: 100%; 
        height: auto;
        padding: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .popup-card .info h2 {
        margin: 20px 5px 5px 5px;
        font-size: 25px;
    }
    
    .popup-card .info h2 span{
        font-size:10px;
    }

    .popup-card .info p{
        margin: 5px;
        font-size:13px;
    }

    .popup-card .info .destination{
        margin: 5px;
        font-size: 20px;
    }

    .popup-card .info .send-request {
        margin: 5px auto;
        padding: 5px 40px;
        font-size: 14px;
    }

    .popup-card .close-btn {
        z-index:4;
    }
    
    .send-request {
        cursor: pointer;
    }

}



/*End of Listing page*/

/*Other section format*/

.section-title {
    font-size:4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align:cetner;

}

p, ol {
    font-size: 1.5rem;
    font-weight: 0;
    margin-left:10%;
    margin-right: 10%;
    margin-top: 30px;
    
}

.fyi {
    font-size: 10px;
    position:0px;
    color: grey;
}

#search>#flight-info>.button, #account-page .button {
    display: inline-block;
    font-size: 1.5rem;
    text-transform:uppercase;
    letter-spacing: .1rem;
    width:max-content;
    margin-top: 18px; 
    padding-top:5px;
    margin-left:1%;
    height:34px;
}

#search>#flight-info {
    margin-bottom: 5px;
}

/*Nav bar */

.header #nav-bar {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    height:90%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul {
    list-style:none;
    position: absolute;
    background-color: var(--clr-yellow);
    width: 100vw;
    height:100vh;
    left:100%;
    top:0;
    display:flex;
    align-items: center;
    overflow-x:hidden;
    justify-content: center;
    z-index:1;
    flex-direction:column;
    transition: 0.5s ease left;
}

#header .nav-list ul a h1{
    font-size: 2rem;
    font-weight:500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 20px; 
    display: block;
}

#header .nav-list ul a h1:hover {
    color: grey;
    
}

#nav-bar a  h1 {
    text-align:center;
    color: black;
}

#nav-bar> a{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.1rem;
}

#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top:0;
    width: 100vw;
    height: auto;
    font-size: 1.5rem;
}

#header .header {
    min-height: 8vh;
    /*background-color: var(--clr-yellow);
    opacity: 0.8;*/
    transition: 0.3s ease background-color;
}

#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 2.5px solid black;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.7);
    margin-right: 20px;
}


#header .hamburger .bar::after, 
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: black;
    transition: .3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after{
    top: 10px;
}

#header .hamburger .bar::before {
    bottom: 10px;
}

#header .hamburger .bar{
    height: 2.5px;
    width: 30px;
    position: relative;
    background-color: black;
    z-index: -1;

}

#header .hamburger.active {
    border: 2px solid white;
}

#header .hamburger.active .bar{
    background-color: white;
}

#header .hamburger.active .bar::before{
    background-color: white;
    bottom:0;
}
 
#header .hamburger.active .bar::after {
    background-color: white;
    top:0;
}

#header .nav-list ul.active {
    left:0;
}

@media only screen and (min-width: 1100px) {
    #header .hamburger {
        display: none;
    }
    
    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li {
        display: inline-block;
    }

    #header .nav-list ul li h1 {
        font-size:1.5rem;
    }

    #header .nav-list ul a:after {
        display: none;
    }

    #service .service-bottom .service-item {
        flex-basis: 22%;
        margin: 1.5%;
    }

}


@media only screen and (max-width: 1100px) {
    #hero {
        background-image: none;
        background-size: 0%;
    }
    #hero::after {
        height: 100%;
        width: 100%;
    }

    #page1 {
        display:flex;
        justify-content: center;
    }
}

/*Contact section */

#contact-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
    margin-top: 15px;
}

.contact-input {
    display:flex;
}

.contact-input h2 {
    width: 150px;
    text-align: center;
}

#message h2 {
    width: 300px;
    text-align: center;
}

#message input {
    width: 300px;
    height: 400px;
    text-align:auto;
}

#contact {
    width: 100%;
}

#contact-info{
    margin-top: 25px;
} 

#button-container {
    width: 100%;
    display: flex;

}

#button-container a {
    position:relative;
    margin-left:auto;
    margin-right:auto;
}

#contact-us {
    text-align: center;
    margin-bottom: 5px;
    margin-top:35px;
}

#no-dogs {
    color: red;
    text-align: center;
    padding: 50px;
    padding-bottom: 25px;
}

#getNotify {
    background-color: darkorange;
    cursor: pointer;
    margin-top: 0;
}

#getNotify:hover {
    background-color:white;
    color: darkorange;
}
/* fix the bug*/

/* Log in page */

#log-in-page, #sign-up-page {
    padding: 20%;
    display: none;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left:auto;
    margin-right:auto;
}

#log-in-page > form, 
#sign-up-page > form {
    padding: 20px; 
    width: 317px;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
}

#log-in-page > form {
    height: 300px;
}

#sign-up-page > form {
    height: 420px;
}

#log-in-page > form > h1, 
#sign-up-page > form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

#log-in-page > form > div > input, 
#sign-up-page > form > div > input {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 35px;
}

#log-in-page > form > div > label,
#sign-up-page > form > div > label {
    font-size: 12px;
}

#log-in-page > form > div > p, 
#sign-up-page > form > div > p {
    font-size:8px;
    margin-top: 10px;
    text-align: center;
}

#log-in-submit, 
#signup-submit {
    width: 80px;
    outline-style: none;
    border-radius: 0.5rem;
}

.pws, .ids, #email-signup {
    width: 200px;
}

#flight-info > div > div> input {
    margin-left: 2px;
    margin-right: 2px;
}


#log-out-box {
    font-size: 1rem;
}

#account-box {
    font-size: 1rem;
}

/*my-account page */

#my-account > .container > h1{
    top: 15%;
    position: absolute;
    margin-bottom: 20px;
}

#side-bar {
    height: 60%;
    width: 200px;
    background-color: #FFC06E;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    align-items: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#account-page {
    height: 60%;
    width: 700px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    z-index: 0;
}

#account-page, #side-bar {
    margin-top: 20px;
}

#account-page div {
    z-index: 1;
}

#account-page h2 {
    text-align:center;
}


#side-bar div {
    width: 230px;
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 5px;
    border-radius: 1rem;
    z-index: 2;
}

#my-account > .container > div {
    width: 85%;
    position: absolute;
    background-color: transparent;
    height: 90%;
    margin-top: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index:0;
} 

#my-account > .container {
    z-index: 0;
}

.selected {
    background-color: white;
}

#request-page {
    display:none;
}

#saved-search-page {
    display:none;
}

.profile-element {    
    display: flex;
    align-items: baseline;
}


#profile-name h4 {
    margin-bottom: 10px;
}

#profile-page h4 {
    margin-left: 10px;
}

#profile-page {
    height: 90%;
}

#account-page h2 {
    margin-top: 25px;
    text-align: center;
    font-size: 18px;
}

#account-page p {
    margin: 0px;
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
}

#account-page input {
    margin-left:10px;
    margin-right: 10px;
}

.button-wrap {
    display:flex;
    justify-content:center;
}

#checkbox-container, #contacted-list {
    height: 150px;
    overflow: scroll;
    overflow-x:hidden;
    margin-right: 10px;
}

#contacted-list {
    height: 280px;
    margin-top: 10px;
}

.lists, #saved-search-button-select-all {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-left: 70px;
}

#ex {
    color: darkslateblue;
    margin-bottom: 10px;
}

.checkbox {
    height: 20px;
    width: 20px;
}

.checkbox-container {
    margin-top: 10px;
}

#saved-search-button-select-all {
    margin-top:20px
}

.scroll-box {
    border-style: inset;
    margin-left: 30px;
    border-radius: 1rem;
}

#select-all {
    height: 20px;
    width: 20px;
}

#contacted-list > div {
    display: flex;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin: 10px;
}

#contacted-list > div > img {
    width: 120px;
}

#contacted-list > div > div {
    width: 100%;
}

#contacted-list > div > div > h2 {
    text-align: center;
    width: 100%;
    margin-top: 7px;
 }


 